
.brand {
    font-size: 150%;
    float: left;
    display: inline;
}

div.main-desc p {
    font-size: 14px;
}

h1,h2,h3 {
    text-align: center !important;

}

p.descr {
    font-size: 15px !important;
}

.navbar-nav>li:hover,
.navbar-nav>li:focus,
.navbar-nav>li>a:hover  {
    /*color: #00b3ee; !important;*/
}

nav {
    background: #000000 !important;
}

.jumbotron {
    background: #ffffff !important;
}

.left-content {
    background: #ffffff !important;
}

.navbar-n
.navbar-nav>li {
    font-weight: bold;
    font-size: 17px;
}
