
.brand {
    font-size: 150%;
    float: left;
    display: inline;
}

div.main-desc p {
    font-size: 14px;
}

h1,h2,h3,h4 {
    text-align: center !important;

}

p.descr {
    font-size: 15px !important;
}

.navbar-nav>li:hover,
.navbar-nav>li:focus,
.navbar-nav>li>a:hover  {
    /*color: #00b3ee; !important;*/
}

nav {
    background: #000000 !important;
}

.leftList ul > li > a:hover,
.leftList ul > li > a:focus {
    text-decoration: underline;
    background-color: #f0ecb6;
}

.leftList ul > li > a {
    color: blue;
    color: #428bca;
    margin-left: 10%;
    height: 30px;
}

.phone-info {
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

.leftList h3 {
    width: 100%;
}

.leftList {
    background-color: #f0ecb6;
    border-radius: 5px 5px 5px 5px;
    padding-bottom: 15px;
}

.jumbotron {
    background: #ffffff !important;
}

.left-content {
    background: #ffffff !important;
}

.navbar-n
.navbar-nav>li {
    font-weight: bold;
    font-size: 17px;
}
